{% extends 'base.html.twig' %}

{% block main %} 
<h2> Détails du Ticket</h2>

{{ form_start(modifierTicketForm)}}

{{form_row(modifierTicketForm.title)}}
{{form_row(modifierTicketForm.description)}}
{% if ticket.user.status != "cli" %}

{{form_row(modifierTicketForm.termine)}}
{% else %}
{% do modifierTicketForm.termine.setRendered() %}
{% endif %}
{{form_row(modifierTicketForm.categorie)}}
<button type="submit" class="btn btn-primary">Modifier</button>



{{ form_end(modifierTicketForm)}}
<a href={{path('reponse', {'id': ticket.id})}} class="btn btn-dark btn-xs " role="button" aria-disabled="true">Répondre</a>
<br>
<br>
<br>
<div>
<h3> Réponses</h3>
<div>
{% for reponse in reponses %}
{{" Contenu :" }}{{ reponse.contenu }}<br>
{{" de:" }}{{ reponse.user.nom  }} {{reponse.user.prenom}} <br>
{{" le: " }}{{ reponse.dateCreation | date }}<br>
</div>
<br>
{% endfor %}

</div>
{% endblock %}

{% block title %}  {{ parent()}} | Détails du Ticket{% endblock %}